<script type="module">

   import 'https://www.verovio.org/javascript/develop/verovio-toolkit-wasm.js';


   /* wait for page to load */

   document.addEventListener("DOMContentLoaded", (event) => {
       verovio.module.onRuntimeInitialized = function () {
           // This line initializes the Verovio toolkit
           const tk = new verovio.toolkit();
           tk.setOptions({
           scale: 35,
           adjustPageHeight: true
           });
           console.log("DOM content loaded")
           // Load a file (MEI or MusicXML)
          fetch("{{ site.baseurl }}/data/mei/{{ page.meifile }}")
              .then(function(response) {
                  return response.text();
                  console.log("fetch MEI file")
              })


              .then(function(text) {
                  tk.loadData(text);
                  let svg = tk.renderToSVG(1);
                  document.getElementById("viewer").innerHTML = svg;
                           console.log("Verovio options:", tk.getOptions());
              });
           }
       });
</script>
